body {
    background-image: linear-gradient(purple, hotpink);
    height: 100vh;
}

h1 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: palevioletred;
    font-size: 48px;
    font-family: 'Permanent Marker', cursive;
}

.reset {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 100%;
    font-size: 28px;
    font-family: 'Permanent Marker', cursive;
    color: rgb(133, 21, 133);
}

.gridLayout {
    margin: auto;
    margin-top: 40px;
    width: 110px;
    height: 110px;
    border-radius: 55px;
    background-color: rgb(235, 60, 147, .7);
    opacity: .8;
}

.container {
    display: grid;
    border: 3px solid black;
    margin: auto;
    width: 720px;
    height: 620px;
    background-color: white;
}

.row {
    display: flex;
  }
  
  .cell {
    border: 1px solid black;
    height: 100%;
    width: 100%;
  }
